@font-face{
    font-family: Farsan;
    src: url(Farsan-Regular.ttf)
}

html{
    font-family:Farsan, 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
    
}

body {
    background-color: rgb(53, 53, 89);
    color: rgb(232, 202, 140);
    text-align: center;
}


#title {
    width: 400px;
    height: 50px;
    border: 2px solid rgb(20,20,20);
    border-radius: 15px;
    margin: 20px;
    margin-top: 5px;
}

.input {
    flex:1;
    width:350px;
    height: 50px;
    border: 2px solid rgb(20,20,20);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-button {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(20,20,20);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(232, 202, 140);
}

.list {
    width: 25%;
    height: 200px;
    border: 2px dotted rgb(165, 83, 105);
    border-radius: 15px;
    margin: auto;
    padding: 20px;
}

#options {
    margin:auto;
    margin-top: 20px;
    width:400px;
    display: flex;
    justify-content: end;
}

#save{
    width: 100px;
    height: 35px;
    margin-left:10px;
    border-radius: 15px;
    border: 2px solid rgb(20,20,20);
    background-color: rgb(232, 202, 140);
    color: rgb(53, 53, 89);
}

#reset{
    width: 75px;
    height: 35px;
    margin-right:10px;
    border-radius: 15px;
    border: 2px solid rgb(20,20,20);
    background-color: rgb(191, 205, 224);
    color: rgb(53, 53, 89);
}