@font-face{
    font-family: Farsan;
    src: url(Farsan-Regular.ttf)
}

html{
    font-family:Farsan, 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
    
}

body {
    background-color: rgb(136, 104, 105);
    color: rgb(251, 184, 193);
    text-align: center;
}

h1{
    text-decoration: underline dotted rgb(252, 234, 234);
    text-shadow: 2px 2px rgb(40, 32, 29);
}
#title {
    width: 400px;
    height: 50px;
    border: 2px solid rgb(40, 32, 29);
    border-radius: 15px;
    margin: 20px;
    margin-top: 5px;
}

.input {
    flex:1;
    width:350px;
    height: 50px;
    border: 2px solid rgb(40, 32, 29);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.add-button {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(40, 32, 29);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(251, 184, 193);
}

.list {
    width: 25%;
    height: 200px;
    border: 2px dotted rgb(252, 234, 234);
    border-radius: 15px;
    margin: auto;
    padding: 20px;
}

.list{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: left;
}

.item{
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    width: auto;
    height: 25px;
    border: 2px solid rgb(40, 32, 29);
    background-color: rgb(251, 184, 193);
    color:rgb(40, 32, 29);
    border-radius: 15px;
}

#options {
    margin:auto;
    margin-top: 20px;
    width:400px;
    display: flex;
    justify-content: end;
}

#save{
    width: 100px;
    height: 35px;
    margin-left:10px;
    border-radius: 15px;
    border: 2px solid rgb(40, 32, 29);
    background-color: rgb(251, 184, 193);
    color: rgb(40, 32, 29);
}

#reset{
    width: 75px;
    height: 35px;
    margin-right:10px;
    border-radius: 15px;
    border: 2px solid rgb(40, 32, 29);
    background-color: rgb(252, 234, 234);
    color: rgb(40, 32, 29);
}