#button-examples{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 108, 191);
    width: 50%;
    margin: auto;
}

.buttons{
    background-color: rgb(89, 81, 140);
    color: rgb(241, 195, 242);
    font-size: 18px;
    margin: 20px;
    transition: all .3s ease;
}

.buttons:hover{
    background-color:rgb(241, 195, 242);
    color: rgb(89, 81, 140);
    box-shadow: 2px 5px rgba(0,0,0,.25);
}

#button1{
    border: 2px solid rgb(20,20,20);
    border-radius: 10px;;
    padding: 15px;
    height: 60px;
}

#button2{
    display:flex;
    align-items: center;
    border: 2px solid rgb(20,20,20);
    border-radius: 10px;
    padding: 15px;
    height: 60px;
    justify-content: center;
}

#button3{
    border: 2px solid rgb(20,20,20);
    border-radius: 50%;
    padding: 20px;

}