
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(25, 23, 37);
    color: rgb(202, 172, 242);
    text-align: center;
    align-items: center;
}

h2{
    font-size: 35px;
    text-decoration: underline rgb(117, 108, 191);
    text-shadow: 3px 3px rgba(0,0,0,.5);
}

#title{
    display:flex;
    text-align: left;
    position: fixed;
    padding: 20px;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color:rgb(202, 172, 242);
    color:rgb(25, 23, 37);
    box-shadow: 2px 3px rgba(0,0,0,.5);
}

.code{
    display: flex;
    text-align: left;
    font-size: 18px;
    width: 50%;
    max-height: 400px;
    overflow:auto;
    border-radius: 15px;
    margin:auto;
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(89, 81, 140);
    color: rgb(241, 195, 242);
}

.part-label{
    font-size: 25px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


#first{
    margin-top: 90px;
    font-size: 45px;
    text-decoration: underline solid rgb(117, 108, 191);
}

#nav-example2{
    display:flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    background-color: rgb(202, 172, 242);
    justify-content: space-between;
}