

#nav-example{
    display:flex;
    flex-direction: row;
    top:0px;
    right:0px;
    left:0px;
    position:fixed;
    background-color: rgb(202, 172, 242);
    justify-content: space-between;
}

#nav-title{
    color: rgb(25, 23, 37);
    font-size: 40px;
}

#nav-menu{
    align-items: center;
    color: rgb(25, 23, 37);
    background-color: rgba(0,0,0,0);
    margin: 15px;
    border: none;
    border-radius: 15%;
    transition: background-color .3s ease;
    padding: 10px;
}

#nav-menu:hover{
    background-color: rgba(241, 195, 242, 1);
}

.nav-link{
    color: rgb(25, 23, 37);
    font-size: 20px;
    text-align: center;
    padding: 35px;
    text-decoration: none;
    border-radius: 15%;
    transition: background-color .3s ease;
}

.nav-link:hover{
    background-color: rgb(241, 195, 242);
}

.container{
    display: flex;
    align-items: center;
}