

#nav-example{
    display:flex;
    flex-direction: row;
    top:0px;
    right:0px;
    left:0px;
    position:fixed;
    background-color: rgb(202, 172, 242);
    justify-content: space-between;
}

#nav-title{
    color: rgb(25, 23, 37);
    font-size: 40px;
}

#nav-menu{
    align-items: center;
    color: rgb(25, 23, 37);
    background-color: transparent;
    margin: 15px;
    border: none;
}

.nav-link{
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 15px;
    margin-right:15px;
    text-decoration: none;
}

.container{
    display: flex;
    align-items: center;
}