a{
    all:unset;
}

#menu-button{
    border: 2px solid rgb(20,20,20);
    border-radius: 10px;;
    padding: 15px;
    height: 60px;
    background-color: rgb(89, 81, 140);
    color: rgb(241, 195, 242);
    font-size: 18px;
    margin: 20px;
    transition: all .3s ease;
}

#menu-button:hover{
    background-color:rgb(241, 195, 242);
    color: rgb(89, 81, 140);
    box-shadow: 2px 5px rgba(0,0,0,.25);
}

#drawer{
    display:flex;
    flex-direction:column;
    color: rgb(25, 23, 37);
    background-color: rgb(202, 172, 242);
    position:fixed;
    overflow:auto;
    width:300px;
    justify-content:left;
    align-items:flex-start;
    top:80px;
    bottom:0px;
    left:-310px;
    transition: all .3s ease;
}

#drawer[data-open="true"]{
    left:0px;
}

.nav-item{
    display:flex;
    text-align: left;
    align-content: center;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px solid rgb(25, 23, 37); 
    width:300px;
    padding:10px;
    transition: all .2s ease;
}

.nav-item:hover{
    background-color: rgb(25, 23, 37);
    color: rgb(202, 172, 242);
}

#mask{
    position:fixed;
    top:77;
    left:300;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s ease;
}

#mask[data-open="true"] {
    background-color: rgba(0,0,0,.5);
    bottom: 0;
    right: 0;
}