:root{
    --background: rgb(161, 94, 73);
    --quote-bubble: rgb(202, 137, 95);
    --highlight: rgb(205, 231, 176);
    --text: rgb(47, 27, 37);
}

body{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    font-size: 2em;
    padding: 15px;
    margin-top:15px;
}

#search-bar{
    margin: 10px;
    padding:5px;
    border: 2px solid var(--text);
    width: 25%;
    border-radius:15px;
}

.quote{
    font-family: Caveat, 'Lucida Sans', Geneva, Verdana, sans-serif;
    background-color: var(--quote-bubble);
}