:root{
    --background: rgb(73, 77, 104);
    --quote-bubble: rgb(154, 123, 119);
    --highlight: rgb(213, 164, 132);
    --title: rgb(252, 205, 135);
    --text: rgb(20,20,20);
}

body{
    display:flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    color: var(--title);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title{
    align-self: center;
    font-size: 2.5em;
    padding: 15px;
    margin-top:5em;
}

#search-bar{
    margin: 10px;
    padding:15px;;
    border: 2px solid var(--text);
    width: 75%;
    border-radius:25px;;
    background-color: rgb(149, 151, 188);
    font-size: 2em;
}

#startup{
    font-family: Caveat, 'Lucida Sans', Geneva, Verdana, sans-serif;
    width: 75%;
    padding: 10px;
    font-size: 2.5em;
    margin: 20px;
}

.quote-content{
    text-align: left;
}

.quote-author{
    text-align: right;
}

#quotes, #pinned{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.quote{
    font-family: Caveat, 'Lucida Sans', Geneva, Verdana, sans-serif;
    background-color: var(--quote-bubble);
    color: black;
    padding:10px;
    border: 2px solid var(--text);
    border-radius:15px;
    font-size: 2em;
    margin: 15px;
    order:2;
    width: 80%;
}

#pinned > .quote{
    background-color: var(--highlight);
    order:1;
}

.searching{
    margin-top: 0px;
    font-size: 2em;;
}

@media screen and (min-width:800px){
    #search-bar{
        font-size: 20px;
        width:65%;
    }
    #startup{
        width:65%
    }
    #quotes, #pinned{
        width:80vw;
    }
}

#error-message{
    position: fixed;
    padding: 16px;
    background-color: var(--highlight);
    color: var(--text);
    border-radius: 15px;
    border: 2px solid var(--highlight);
    font-size: 25px;
    font-weight: bold;
    bottom: 0px;
    left: 100px;
    right: 100px;
    transform: translateY(200px);
}
#error-message[data-open="true"] {
    transform: translateY(-10px);
}